
<label for="valueinactive">Kaartkleur </label><input [(colorPicker)]="inactive" id="valueinactive" (colorPickerChange)="setColor($event, 'inactive')" [style.background]="inactive">
<br>


<label for="valueactive">Open </label><input [(colorPicker)]="active" id="valueactive" (colorPickerChange)="setColor($event, 'active')" [style.background]="active">

<br>

<label for="valuefound">Gevonden </label><input [(colorPicker)]="found" id="valuefound" (colorPickerChange)="setColor($event, 'found')" [style.background]="found">

