* {
  font-size:14px;
  font-family:sans-serif;
}

:root {
  --active: 'darkgreen' ;
  --inactive: 'lime';
  --found: 'purple';
}

.sidepanel {
  position: absolute;
  left: 500px;
  top: 150px;
  width: 300px;
  padding: 10px;
  display: inline-grid;
}
.sidepanel > * {padding:10px;}
.header {
  position:relative;
  width: 200px;
  text-align: center;
  left:120px;
  top:15px;
  padding: 10px;
  display: inline-grid;
}
app-board {
  border:1px solid black;
  position: relative;
  left: 10px;
  top: 50px;
  width:400px;
  height:400px;
  display:table;
}
app-cell {
   display: inline-grid;
   background:red;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
 }
app-cell span {
  margin:auto;
  font-size:25px;
  font-weight: bold;
}
app-color-changer button {
  width:100px;
  margin-right:10px;
}

.inactive { background: var(--inactive)}
.active { background: var(--active)}
.found { background: var(--found)}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
