<button class="jscolor{valueElement:'valueinactive',styleElement:'styleInactive'}">Kaartkleur</button>
<input type="hidden" id="valueinactive" (change)="valueChange($event)" [value]="inactive">
<label for="styleInactive"></label><input id="styleInactive">

<br>

<button class="jscolor{valueElement:'valueactive',styleElement:'styleActive'}">Open</button>
<input type="hidden" id="valueactive" (change)="valueChange($event)" [value]="active">
<label for="styleActive"></label><input id="styleActive">

<br>

<button class="jscolor{valueElement:'valuefound',styleElement:'styleFound'}">Gevonden</button>
<input type="hidden" id="valuefound" (change)="valueChange($event)" [value]="found">
<label for="styleFound"></label><input id="styleFound">
